.banner-slider-sec {
    padding: 0px;

    .banner-carousel {
        .item {
            height: 418px;
            text-align: center;
            padding-top: 50px;
            background-position: center;
            background-repeat: no-repeat;

            @include mobile-lg() {
                height: 170px;
                background-position-x: -170px !important;
            }

            &.item-01 {
                background: url(/assets/img/banner.jpg) no-repeat right center;
                background-size: cover;
            }

            &.item-02 {
                background: url(/assets/img/banner.jpg) no-repeat right center;
                background-size: cover;
            }

            &.item-03 {
                background: url(/assets/img/banner.jpg) no-repeat right center;
                background-size: cover;
            }

            .banner-content {
                width: 45%;
                text-align: left;
                padding-top: 30px;

                @include mobile-lg() {
                    width: 60%;
                }

                .banner-title {
                    font-size: 57px;
                    font-weight: 400;
                    color: $black-color;
                    line-height: 53px;
                    margin-bottom: 15px;

                    @include mobile-lg() {
                        font-size: 22px;
                        line-height: 27px;
                    }

                    span {
                        color: #0AAEB9;
                    }
                }

                p {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #000;
                    padding-right: 60px;
                }

                .view-more {
                    margin-top: 10px;
                    float: left;
                    border-radius: 5px;
                    padding: 10px 40px;
                    font-size: 15px;
                    color: #fff;
                }

            }

        }

        .owl-dots {
            position: absolute;
            bottom: 5px;
            left: 50%;
            transform: translate(-50%, 0px);

            .owl-dot {
                &.active {
                    span {
                        background-color: #034E53;
                    }
                }

                &:hover {
                    span {
                        background-color: #034E53;
                    }
                }

                span {
                    width: 36px;
                    height: 8px;
                    margin: 5px 7px;
                    background: #AA9393;
                    display: block;
                    transition: opacity 200ms ease;
                    border-radius: 30px;
                }

            }
        }




    }
}