.banner-slider-sec {
    padding: 0px;

    .banner-carousel {
        .item {
            height: 418px;
            text-align: center;
            padding-top: 50px;
            background-position: center;
            background-repeat: no-repeat;



            @include desktop-xs() {
                height: 320px;
            }

            @include tablet-md() {
                height: 300px;
                background-position-x: -325px !important;
            }

            @include tablet-lg() {
                height: 300px;
                // background-position-x: -105px !important;
            }

            @include mobile-lg() {
                height: 280px;
                background-position-x: -420px !important;
                padding-top: 20px;
            }

            &.item-01 {
                background: url(assets/img/banner.jpg) no-repeat right center;
                background-size: cover;
            }

            &.item-02 {
                background: url(assets/img/banner.jpg) no-repeat right center;
                background-size: cover;
            }

            &.item-03 {
                background: url(assets/img/banner.jpg) no-repeat right center;
                background-size: cover;
            }

            .banner-content {
                width: 45%;
                text-align: left;
                padding-top: 30px;


                @include tablet-lg() {
                    padding-top: 0px;
                    padding-left: 10px;
                    width: 40%;
                    padding-left: 0px;
                }

                @include tablet-md() {
                    padding-top: 0px;
                    padding-left: 0px;
                    width: 50%;
                }



                @include mobile-lg() {
                    width: 65%;
                    padding-top: 20px;
                }

                .banner-title {
                    font-size: 57px;
                    font-weight: 400;
                    color: $black-color;
                    line-height: 53px;
                    margin-bottom: 15px;

                    @include desktop-xs() {
                        font-size: 40px;
                        line-height: 37px;
                    }



                    @include tablet-lg() {
                        font-size: 30px;
                        line-height: 32px;
                    }

                    @include mobile-lg() {
                        font-size: 18px;
                        line-height: 22px;
                        margin-bottom: 5px;
                    }

                    span {
                        color: $light-blue;
                    }
                }

                p {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #000;
                    padding-right: 60px;

                    @include mobile-lg() {
                        font-size: 12px;
                        line-height: 17px;
                        padding-right: 0px;
                    }
                }

                .view-more {
                    margin-top: 10px;
                    float: left;
                    border-radius: 5px;
                    padding: 10px 40px;
                    font-size: 15px;
                    color: $white-color;
                }

            }

        }

        .owl-dots {
            position: absolute;
            bottom: 5px;
            left: 50%;
            transform: translate(-50%, 0px);

            .owl-dot {
                &.active {
                    span {
                        background-color: #034E53;
                    }
                }

                &:hover {
                    span {
                        background-color: #034E53;
                    }
                }

                span {
                    width: 36px;
                    height: 8px;
                    margin: 5px 7px;
                    background: #AA9393;
                    display: block;
                    transition: opacity 200ms ease;
                    border-radius: 30px;
                }

            }
        }




    }
}