.product-card {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.13);
    padding: 15px;
    position: relative;
    width: 17%;
    transition: 0.5s;


    @include tablet-lg() {
        padding: 7px;
    }

    @include tablet-md() {
        width: 30%;
        padding: 15px;
    }

    @include mobile-lg() {
        width: 31%;
    }

    @include mobile-md() {
        width: 49%;
    }

    .product-name {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }


    .product-image {
        position: relative;
        padding-bottom: 10px;
    }

    &:hover {
        background: linear-gradient(125deg, #FFFFFF -1.31%, #FFFFFF 45.48%, #FFFFFF 45.49%, #FFFFFF 45.5%, #F7F7F7 46.85%, #F3F3F3 98.52%);

        transform-origin: center;
        transition: 0.5s;
        border: 1px solid rgba(0, 0, 0, 0.13);
        box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.23);
        border-radius: 6px;

        .view-wish-list {
            display: flex;
        }
    }


    p {
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: $light-blue;
        margin-top: 10px;

        @include tablet-lg() {
            font-size: 13px;
        }

        &:first-child {
            margin-top: 0px;
        }

        small {
            color: $black-color;
            font-size: 12px;

            @include tablet-lg() {
                font-size: 10px;
            }
        }
    }

    .product-price {
        display: flex;
        // justify-content: space-between;
        gap: 20px;
        align-items: center;

        @include mobile-lg() {
            gap: 5px;
        }

        @include tablet-lg() {
            gap: 5px;
        }

        p {
            margin-top: 0px;

            &.actual-price {
                font-size: 13px;
                color: #697475;
            }
        }
    }



    .view-wish-list {
        display: none;
        justify-content: space-between;
        align-items: center;
        background: #E4FDFF;
        gap: 5px;
        position: absolute;
        bottom: 10px;
        z-index: 9;
        width: 100%;

        a {
            font-size: 11px;
            padding: 8px 10px;
            color: $black-color;

            &:hover {
                background-color: $primary-color;
                color: $white-color;

                svg path {
                    stroke: $white-color !important;
                }

            }


        }
    }
}

.add-cart-card-btn {
    background: $primary-content-color;
    padding: 9px 0px;
    width: 100%;
    float: left;
    text-align: center;
    color: $white-color;
    margin-top: 15px;
    font-size: 15px;

    &:hover {
        background-color: $primary-color;
        color: $white-color;
    }

    @include tablet-md() {
        font-size: 13px;
    }
}