.f-left {
    float: left;
}

.product-category-tabs {
    width: 65%;

    @include tablet-lg() {
        width: 70%;
    }

    @include mobile-lg() {
        width: 90%;
    }



    .owl-stage {

        // width: 75% !important;
        .owl-item {
            width: auto !important;
        }

        .item p {
            padding-bottom: 10px;
        }

        .item p a {
            font-weight: 400;
            font-size: 19px;
            line-height: 23px;
            color: $black-color;
            padding: 10px 20px 10px 0px;
            text-transform: uppercase;

            @include tablet-md() {
                font-size: 14px !important;
            }

            &:hover {
                &::after {
                    transform-origin: left top;
                    transform: scale(1, 1);
                }
            }

            &::after {
                content: "";
                display: block;
                position: absolute;
                bottom: 0px;
                left: 0px;
                right: 0px;
                height: 3px;
                width: 100%;
                background-color: #00CAD7;
                transform-origin: right top;
                z-index: 1;
                transform: scale(0, 1);
                -moz-transition: color 0.1s, transform 0.2s ease-out;
                -ms-transition: color 0.1s, transform 0.2s ease-out;
                -o-transition: color 0.1s, transform 0.2s ease-out;
                transition: color 0.1s, transform 0.2s ease-out;
            }

            &.active {
                color: #00CAD7;

                &::after {
                    transform-origin: left top;
                    transform: scale(1, 1);
                }
            }

            @include mobile-lg() {
                font-size: 13px;
                padding: 10px 0px 10px 0px;
            }
        }
    }

    .owl-nav {
        position: absolute;
        right: 0px;
        top: -15px;
    }

    @include mobile-lg() {
        .product-category-tabs-carousel .owl-nav {
            position: absolute;
            right: -40px;
            top: -16px;
        }
    }
}

.actual-price {
    font-size: 13px;
    color: #697475;
    text-decoration: line-through;

    @include tablet-lg() {
        font-size: 10px !important;
    }

    @include tablet-md() {
        font-size: 11px !important;
    }
}

@include tablet-lg() {
    .owl-carousel {
        .owl-dots {
            .owl-dot {
                span {
                    background: #AA9393;
                    width: 36px;
                    height: 8px;
                }

                &.active {
                    span {
                        background-color: #034E53;
                    }
                }
            }
        }
    }

    section {
        .container {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

@include mobile-lg() {
    .owl-carousel {
        .owl-dots {
            .owl-dot {
                span {
                    background: #AA9393;
                    width: 10px;
                    height: 10px;
                }

                &.active {
                    span {
                        background-color: #034E53;
                    }
                }
            }
        }
    }

    section {
        .container {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}