// category carousel sec 
.category-carousel-sec {
    background: linear-gradient(180deg, #F3EDC9 0%, #F5F5F5 80%);
    padding-bottom: 30px;

    .category-carousel {
        .category-box {
            border: 3px solid $white-color;
            margin-left: 7px;
            position: relative;

            .category-name-band {
                background: rgba(254, 249, 249, 0.95);
                box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.57);
                display: flex;
                position: absolute;
                bottom: 15px;
                left: -7px;
                width: 95%;
                padding: 8px 15px;
                align-items: center;
                justify-content: space-between;

                h4 {
                    margin-bottom: 0px;
                    font-family: $font-regular;
                    color: $black-color;
                    font-size: 19px;
                }

                a {
                    font-family: $font-regular;
                    color: #14B1F0;
                    font-weight: 400;
                    font-size: 17px;
                }

                span {
                    position: absolute;
                    left: 0px;
                    top: -5px;
                }
            }

            &:hover {
                border: 3px solid $primary-color;

                .category-name-band {
                    background-color: $primary-color;

                    h4 {
                        color: $white-color;
                    }
                }
            }
        }

        .owl-nav {
            .owl-prev {
                position: absolute;
                left: -60px;
                top: 40%;

                &:hover {
                    background: none;
                }
            }

            .owl-next {
                position: absolute;
                right: -60px;
                top: 40%;

                &:hover {
                    background: none;
                }
            }
        }
    }
}

// category carousel sec end

// deal of the day sec

.deal-of-the-day-sec {
    padding-top: 0px;
    padding-bottom: 40px;
    background: #F5F5F5;

    .bdr-sep {
        border-top: 1px solid rgba(0, 0, 0, 0.17);
        padding-top: 30px;
    }

    .deal-of-the-day {
        padding-top: 30px;

        h1 {
            font-family: $font-regular;
            font-style: normal;
            font-weight: 400;
            font-size: 33px;
            line-height: 33px;
            color: #000000;

            span {
                color: #00B9C5;
            }
        }

        p {
            // font-size: 12px;
            // line-height: 15px;
            color: $black-color;
        }

        .view-more {
            float: left;
            margin-top: 35px;

            @include mobile-lg() {
                margin-top: 10px;
            }
        }
    }

    .deal-of-the-day-carousel {
        @include mobile-lg() {
            margin-top: 30px;
        }

        .item {
            padding: 10px;

            .deal-box {
                background: #FFFFFF;
                box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.2);
                border-radius: 6px;
                overflow: hidden;
                border: 3px solid transparent;

                &:hover {
                    border: 3px solid #0AAEB9;
                    border-radius: 0px;
                }

                .deal-item {
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        z-index: 3;
                        height: 100%;
                        width: 100%;
                        opacity: 0;
                        bottom: 0;
                        background-color: transparent;
                        background-image: -webkit-linear-gradient(-40deg, #fff 50%, rgba(250, 250, 250, 0.7) 50%);
                        transition: 0.5s;
                    }
                }

                &:hover .deal-item {
                    &::after {
                        opacity: 0.5;
                    }
                }

                .add-cart-price {
                    position: absolute;
                    bottom: 10px;
                    text-align: center;
                    right: 20px;

                    p {
                        margin: 0px;
                        color: $black-color;

                        &:first-child {
                            color: #15ADB7;
                        }
                    }
                }

            }
        }

        .owl-nav {
            .owl-prev {
                position: absolute;
                left: -59%;
                top: 40%;

                &:hover {
                    background: none;
                }
            }

            .owl-next {
                position: absolute;
                right: -60px;
                top: 40%;

                &:hover {
                    background: none;
                }
            }
        }
    }
}

// deal of the day sec ends

// New Arivals sec

.new-arrivals-sec {
    padding-bottom: 40px;
    padding-top: 40px;

    .new-arrival-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mobile-lg() {
            flex-direction: column;
            text-align: left;
            align-items: flex-start;
        }

        .arrivals-countdown {
            display: flex;

            span {
                display: block;
            }

            div {
                padding: 0px 15px;
                font-family: $font-regular;
                font-size: 19px;
                color: #18A4E8;
                font-weight: 400;

                &:first-child {
                    padding-left: 0px;
                }
            }
        }
    }

    .new-arrival-item {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        padding-top: 30px;

        @include mobile-lg() {
            flex-wrap: wrap;
            gap: 5px;
        }

        img {
            width: 100%;
        }
    }
}

// Our products sec
.our-products-sec {
    background-color: #F5F5F5;
    padding-top: 40px;
    padding-bottom: 40px;

    .our-products-sec-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mobile-lg() {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .our-products-block {
        display: flex;
        gap: 15px;
        padding-top: 30px;

        @include mobile-lg() {
            flex-direction: column;
        }
    }

    .our-products-offer-product {
        background: #FBF7F7;
        border: 1px solid rgba(0, 0, 0, 0.11);
        padding: 20px;
        width: 35%;

        @include mobile-lg() {
            width: 100%;
        }

        .offer-product-details {
            padding-top: 15px;
        }

        .offer-product-img {
            position: relative;

            .special-offer-title {
                position: absolute;
                top: 0;
                left: 5px;
            }

            .offer-percentage-circle {
                position: absolute;
                top: 0;
                right: -10px;
                background: #EECFCC;
                border-radius: 50%;
                width: 100px;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;

                h4 {
                    font-size: 28px;
                    line-height: 34px;
                    color: $black-color;
                }
            }
        }

        p {
            color: $black-color;
            font-size: 17px;
        }

        .offer-product-price {
            display: flex;
            gap: 15px;
            align-items: center;
            color: $black-color;

            margin-top: 7px;

            h3 {
                color: #D22727;
                font-size: 24px;
            }

            p {
                font-size: 13px;
            }
        }

        .offer-product-availability {
            display: flex;
            align-items: center;
            gap: 50px;

            p {
                margin: 0px;
                color: #0AAEB9;
                font-size: 17px;
            }
        }
    }

    .product-category-tabs-content {
        width: 64%;

        @include mobile-lg() {
            width: 100%;
        }

        .our-products-sec-products {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            padding-right: 0;

            .product-card {
                width: 24.5%;
                border: 0px;

                @include mobile-lg() {
                    width: 49%;
                }

                img {
                    width: 100%;
                }
            }
        }
    }

}

// Ends

// Best deal sec
.best-deal-sec {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #F5F5F5;

    .best-deal-sec-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mobile-lg() {
            flex-direction: column;
            align-items: flex-start;
        }

        .product-category-tabs {
            width: 70%;

            @include mobile-lg() {
                width: 90%;
            }
        }

        .item p a {
            padding: 10px 0px !important;
        }

        .owl-nav {
            display: none;

            @include mobile-lg() {
                display: block;
            }
        }
    }

    .three-column-block {
        display: flex;
        gap: 15px;

        @include mobile-lg() {
            flex-direction: column;
        }

        .width-set {
            width: 33.33%;

            @include mobile-lg() {
                width: 100%;
            }
        }

        padding-top: 30px;

    }

    .offer-poster {
        display: flex;
        flex-direction: column;
        gap: 10px;

        p {
            font-size: 18px;
            line-height: 27px;
            color: $black-color;

            &.actual-price {
                font-size: 13px;
                color: #000;
            }
        }

        img {
            width: 100%;
        }

        h3 {
            font-size: 22px;
            margin: 0px;

            &.blue {
                color: #14B1F0;
            }
        }

        .two-column {
            background: #FFFFFF;
            border: 1px solid rgba(0, 0, 0, 0.11);
            padding: 15px;
            display: flex;
            gap: 35px;
            justify-content: space-between;
            height: 280px;

            .special-offer-title {
                color: $black-color;

                .blue {
                    color: #00CAD7;
                }

                .red {
                    color: #C82020;
                }

                .green-dark {
                    color: #034E53;
                }
            }

            .product-details {
                width: 50%;
            }

            .product-image {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;
            }

            .save-percentage-box {
                background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
                // padding: 20px 30px;
                color: $black-color;
                text-align: center;
                margin-top: 10px;
                width: 137px;
                font-size: 24px;
                line-height: 29px;
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: column;
                height: 91px;
            }

            &.offer-poster-style-1 {
                padding-top: 20px;
            }

            &.offer-poster-style-2 {
                padding-bottom: 0px;

                h4 {
                    margin-bottom: 0px;
                }

                p.already-sold {
                    margin-top: 0px;
                    color: #0AAEB9;
                    font-size: 13px;
                    line-height: 21px;
                }

                img {
                    width: 100%;
                }

                .save-percentage-box {
                    background: linear-gradient(90deg, #EE9CA7 0%, #FFDDE1 100%);
                    border-radius: 50%;
                    width: 90px;
                    height: 90px;
                }
            }

            &.offer-poster-style-3 {
                padding-top: 20px;

                .product-image {
                    position: relative;
                    justify-content: flex-end;
                }

                .special-offer-title {
                    position: absolute;
                    top: 0px;
                }

                .save-percentage-box {
                    font-size: 36px;
                    line-height: 44px;
                    background: linear-gradient(120deg, #CC95C0 0%, #DBD4B4 50%, #7AA1D2 100%);
                    width: 160px;
                    height: 100px;
                    padding: 0px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                }
            }

            &.offer-poster-style-4 {
                flex-direction: column;
                position: relative;
                gap: 10px;

                .special-offer-title {
                    position: absolute;
                    top: 0px;
                    left: 15px;
                }

                img {
                    width: 215px;
                }

                div {
                    width: 100%;
                }

                .save-percentage-box {
                    background: linear-gradient(90deg, #F09819 0%, #EDDE5D 100%);
                    border-radius: 50%;
                    width: 125px;
                    height: 125px;
                    position: absolute;
                    top: 5px;
                    right: 3px;
                }

                .offer-product-price {
                    display: flex;
                    gap: 15px;
                    align-items: center;
                    color: #000;

                    h3 {
                        color: #B8A023;
                    }
                }

                .offer-product-availability {
                    display: flex;
                    align-items: center;
                    gap: 50px;

                    p {
                        color: #C82020;
                        font-size: 15px;
                        line-height: 21px;
                        margin: 0px;
                    }
                }
            }
        }

        &.one-column {
            position: relative;

            &.offer-poster {
                padding: 15px;
                background: #FFFFFF;
                border: 1px solid rgba(0, 0, 0, 0.11);

                img {
                    margin-bottom: 6px;
                }
            }

            .special-offer-title {
                position: absolute;
                font-size: 32px;
                color: $black-color;

                .red {
                    color: #C82020;
                }
            }

            .offer-product-price {
                display: flex;
                gap: 15px;
                align-items: center;
                color: #000;

                h3 {
                    color: #D22727;
                }
            }

            .offer-product-availability {
                display: flex;
                align-items: center;
                gap: 50px;

                p {
                    margin: 0px;
                    color: #0AAEB9;
                    font-size: 15px;
                }
            }

            .save-percentage-box.circle {
                position: absolute;
                top: 10px;
                right: 0px;
                background: linear-gradient(90deg, #FF512F 0%, #DD2476 100%);
                border-radius: 50%;
                width: 140px;
                height: 140px;
                line-height: 44px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                color: $white-color;
                font-size: 36px;
            }

            img {
                width: 100%;
            }
        }
    }
}

// ends

// win mart sec

.win-mart-sec {
    padding: 30px 0px;

    .win-mart-box {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        position: relative;

        @include mobile-lg() {
            flex-direction: column;
        }

        .save-band {
            background: #483D3D;
            padding: 0px;
            position: absolute;
            left: -60px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            width: 55px;

            p {
                transform: rotate(-90deg);
                font-size: 17px;
                line-height: 63px;
                color: #fff;
                position: absolute;
                width: 100px;
            }
        }

        .win-mart-item-block {
            width: 60%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 5px;
            padding-left: 0px;

            @include mobile-lg() {
                width: 100%;
                justify-content: flex-start;
            }

            .win-mart-item {
                width: 24%;
                text-align: center;
                position: relative;

                @include mobile-lg() {
                    width: 32%;
                    padding-bottom: 15px;
                }

                img {
                    width: 85%;

                    @include mobile-lg() {
                        width: 100%;
                    }
                }

                .win-mart-item-details {
                    position: absolute;
                    bottom: 0px;
                    left: 50%;
                    transform: translate(-50%, 0px);
                    width: 100%;

                    p {
                        margin: 0px;
                        font-size: 13px;
                        color: $black-color;

                        &:first-child {
                            color: #15ADB7;
                        }
                    }
                }

            }
        }

        .win-mart-right-img {
            width: 40%;
            position: relative;

            @include mobile-lg() {
                width: 100%;
            }

            img {
                width: 100%;

                &.triangle-bg {
                    position: absolute;
                    right: 1px;
                    bottom: -3px;
                    width: 230px;

                    @include mobile-lg() {
                        width: 175px;
                    }
                }
            }

            p {
                letter-spacing: 0.2px;
                color: #970404;
                font-size: 45px;
                line-height: 47px;
                position: absolute;
                right: 10px;
                bottom: 23px;

                @include mobile-lg() {
                    font-size: 30px;
                    line-height: 34px;
                }
            }
        }

    }
}

// New arrival bottom
.new-arrival-bottom-sec {
    background-color: #F5F5F5;
    padding-top: 40px;
    padding-bottom: 0px;

    .sub-sec-title {
        font-size: 45px;
        line-height: 64px;
        text-align: center;
    }

    .new-arrival-bottom-bg {
        background: linear-gradient(90deg, #525252 0%, #3D72B4 100%);
        padding: 30px 0px;
        margin-top: 30px;

        .new-arrival-offer-block {
            display: flex;
            justify-content: space-between;
            gap: 30px;

            @include mobile-lg() {
                flex-direction: column;
            }

            .new-arrival-offer-box {
                width: 33%;
                background-color: $white-color;
                padding: 25px;
                position: relative;
                border: 1px solid rgba(0, 0, 0, 0.11);

                @include mobile-lg() {
                    width: 100%;
                }

                img {
                    width: 60%;
                }

                p {
                    font-size: 18px;
                    line-height: 27px;
                    color: $black-color;
                    margin-top: 0px;
                }

                .offer-product-price {
                    display: flex;
                    gap: 15px;
                    align-items: center;

                    h3 {
                        font-size: 22px;
                        margin: 0px;
                        color: #D22727;
                    }

                    p.actual-price {
                        font-size: 13px;
                        color: #000;
                    }

                }

                .offer-product-availability {
                    display: flex;
                    gap: 15px;
                    align-items: center;
                    color: $black-color;

                    p {
                        margin: 0px;
                        color: #0AAEB9;
                        font-size: 15px;
                    }


                }

                .save-percentage-box {
                    background: linear-gradient(90deg, #FF512F 0%, #DD2476 100%);
                    border-radius: 50%;
                    width: 140px;
                    height: 140px;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    font-size: 36px;
                    line-height: 44px;
                    color: #fff;
                    position: absolute;
                    right: 20px;

                    &.green {
                        background: linear-gradient(90deg, #00BF8F 0%, #001510 100%);
                    }

                    &.light-green {
                        background: linear-gradient(90deg, #50C9C3 0%, #96DEDA 100%);
                    }
                }

            }
        }
    }
}

// Ends

.last-tab-sec {
    padding-top: 40px;
    padding-bottom: 40px;

    .nav-tabs {
        border-bottom: 0px solid #dee2e6;
        justify-content: space-between;

        .nav-item {
            width: 33.33%;
        }

        .nav-link {
            color: #495057;
            background-color: transparent !important;
            border-color: transparent !important;
            font-size: 28px;
            line-height: 34px;
            text-transform: capitalize;
            color: $black-color;
            padding-left: 0px;
            padding-right: 0px;
            position: relative;
            width: auto;
            float: left;

            &::after {
                content: "";
                display: block;
                position: absolute;
                bottom: -10px;
                left: 0px;
                right: 0px;
                height: 2px;
                width: 100%;
                background-color: #8f8f8f;
                transform-origin: right top;
                z-index: 1;
                transform: scale(0, 1);
                -moz-transition: color 0.1s, transform 0.2s ease-out;
                -ms-transition: color 0.1s, transform 0.2s ease-out;
                -o-transition: color 0.1s, transform 0.2s ease-out;
                transition: color 0.1s, transform 0.2s ease-out;
            }

            &.active {

                &::after {
                    transform-origin: left top;
                    transform: scale(1, 1);
                }
            }

            &:hover {
                &::after {
                    transform-origin: left top;
                    transform: scale(1, 1);
                }
            }

            span {
                color: #C82020;
            }
        }
    }

    .tab-content {
        padding-top: 30px;

        .product-block {
            @include flex();
            justify-content: flex-start;
            flex-wrap: wrap;
            row-gap: 30px;

            @include mobile-lg() {
                gap: 10px;
                row-gap: 30px;
            }

            .two-column-box {
                @include flex();
                gap: 10px;
                justify-content: flex-start;
                width: 33.33%;

                @include mobile-lg() {
                    flex-direction: column;
                    width: 48%;
                }

                .product-image {
                    width: 30%;

                    @include mobile-lg() {
                        width: 75%;
                    }

                    img {
                        width: 100%;
                    }
                }

                .product-details {
                    p {
                        small {
                            color: #000;
                            font-size: 12px;
                        }

                        &.product-name {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 1;
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 18px;
                            color: #0AAEB9;
                            margin-top: 10px;
                        }
                    }

                    .product-price {
                        display: flex;
                        gap: 20px;
                        align-items: center;

                        p {
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 18px;
                            color: #034E53;
                            margin-top: 10px;

                            &.actual-price {
                                font-size: 13px;
                                color: #697475;
                            }
                        }
                    }
                }
            }
        }
    }

}