.nav-top-bg {
    background: $primary-color;
    padding: 10px 0px;

    .container {
        position: relative;
    }

    .main-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .hamburger-menu-mob {
            display: none;
        }

        @include tablet-md() {
            .nav-logo {
                width: 18%;

                img {
                    width: 130px;
                    height: auto;
                }
            }
        }

        @include mobile-lg() {
            flex-direction: column;
            align-items: flex-start;

            .nav-logo {
                width: 40%;
                margin-left: 50px;
            }

            .hamburger-menu-mob {
                display: block;
                position: absolute;
                left: 20px;
            }
        }
    }

    p {
        margin-top: 0px;
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        display: flex;
        align-items: center;
        color: $white-color;

    }

    .nav-form {
        width: 40%;

        @include tablet-lg() {
            padding-right: 10px;
            padding-left: 10px;
        }

        @include mobile-lg() {
            width: 100%;
            margin-top: 10px;
        }
    }

    .nav-form form {
        display: flex;
        border-radius: 6px;
        width: 100%;

        .form-group.form-ddn-wrapper {
            width: 30%;

            @include tablet-md() {
                width: 40%;
            }
        }

        .form-group {
            width: 70%;
            position: relative;

            .form-control {
                background-color: #fff;
                margin-top: 0px;
                height: 39px;
                border: none;
                padding-left: 15px;
                border-radius: 0px 6px 6px 0px;
                color: #ABA3A3;

                @include tablet-md() {
                    padding-left: 10px;
                    font-size: 10px;
                }
            }

            ::placeholder {
                color: #ABA3A3 !important;
                opacity: 1;
            }

            :-ms-input-placeholder {
                color: #ABA3A3 !important;
            }

            ::-ms-input-placeholder {
                color: #ABA3A3 !important;
            }

            .search-icon {
                position: absolute;
                right: 0;
                top: 0;
                background-color: #B6B6B6;
                border-radius: 0px 6px 6px 0px;
                height: 39px;
                width: 43px;
                display: flex;
                align-items: center;
                justify-content: center;

                @include tablet-md() {
                    width: 30px;
                }

                img {
                    width: 24px;
                }
            }
        }

        .form-ddn-placeholder {
            background: $white-color;
            border-radius: 6px 0px 0px 6px;
            height: 39px;
            display: flex;
            align-items: center;
            padding-left: 15px;
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            color: #ABA3A3;

            @include tablet-lg() {
                font-size: 11px;
                padding-left: 10px;
            }

            @include tablet-md() {
                font-size: 10px;
                padding-left: 7px;
            }

            .ddn-indicator {
                position: absolute;
                right: 15px;

                @include tablet-lg() {
                    right: 7px;
                }

                img {
                    width: 10px;
                    height: auto;
                }
            }
        }
    }

    .form-ddn-wrapper {
        position: relative;
        float: left;
    }

    .nav-form form .form-group:first-child {
        border-right: 1px solid #AEAEAE;
    }

    ul.form-ddn-list {
        list-style: none;
        padding-left: 0;
        background: #fff;
        border: 0 solid #efefef;
        border-radius: 4px;
        display: block;
        float: left;
        position: absolute;
        z-index: 121;
        top: -9999px;
        width: 130%;
        min-height: 30px;

        li {
            width: 100%;
            float: left;
            padding: 6px 10px;
            border-bottom: 1px solid #efefef;
            position: relative;
            font-size: 12px;
            color: $black-color;
            cursor: pointer;

            &:hover {
                background-color: $primary-color;
                color: $white-color;
            }

            &:last-child {
                border-bottom: 0px;
                border-radius: 4px 0px 4px 0px;
            }
        }
    }

    ul.form-ddn-list.active_list {
        max-height: 100vh;
        border-width: 0;
        opacity: 1;
        top: 28px;
        -webkit-transform: translateY(18px);
        -moz-transform: translateY(18px);
        -o-transform: translateY(18px);
        transform: translateY(18px);
        transition: transform .4s, opacity .4s;
        overflow: hidden;
    }

    .order-details {
        display: flex;
        flex-direction: column;
        gap: 5px;

        @include mobile-lg() {
            display: none;
        }
    }

    .order-details p a {
        color: $white-color;
        display: flex;
        gap: 7px;
        align-items: center;
        font-size: 11px;

        @include tablet-lg() {
            font-size: 10px;
        }

        span {
            width: 25px;

            img {
                width: 100%;
            }
        }

        &:hover {
            text-decoration: underline;
        }

        .small-icon img {
            width: 55%;
        }
    }

    .call-us-now {
        display: flex;
        flex-direction: column;
        gap: 5px;

        @include tablet-lg() {
            width: 13%;
        }

        @include tablet-md() {
            display: none;
        }

        @include mobile-lg() {
            display: none;
        }
    }

    .call-us-now p a {
        color: $white-color;
        font-size: 13px;
        font-family: $font-regular !important;

        span img {
            margin-right: 7px;
        }

        @include tablet-lg() {
            font-size: 10px;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    .user-like-cart {
        display: flex;
        justify-content: space-between;
        width: 13%;

        @include tablet-lg() {
            img {
                width: 17px;
                height: auto;
            }
        }

        @include tablet-md() {
            width: 16%;
            // gap: 15px;
        }

        @include mobile-lg() {
            width: 35%;
            position: absolute;
            right: 15px;
            top: 10px;
        }


        a {
            position: relative;
        }

        .cart-count {
            color: #FDDE3B;
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            position: absolute;
            left: 20%;
            top: -14px;
        }

        .cart-text {
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            color: #fff;
            padding-left: 5px
        }
    }
}