 .sub-nav {
     background: #0E3B3E;

     @include mobile-lg() {
         display: none !important;
     }

     @include tablet-md() {
         .container {
             padding-left: 0px;
             padding-right: 0px;
         }
     }

     .navbar-collapse {
         justify-content: space-between;

         @include tablet-md() {
             display: flex !important;
         }
     }

     .navbar-nav {
         align-items: center;

         @include tablet-md() {
             flex-direction: row;
         }
     }

     .navbar-nav li a {
         font-size: 12px;
         color: $white-color;
         padding: 5px 35px !important;

         &:hover {
             color: $off-blue;
         }

         @include tablet-lg() {
             padding: 5px 17px !important;
         }

         @include tablet-md() {
             padding: 5px 8px !important;
             font-size: 11px;
         }
     }

     .navbar-nav.nav-left-item li a.brouse-by-category {
         font-size: 17px;
         padding: 5px 35px 5px 0px !important;

         @include tablet-lg() {
             padding: 5px 17px 5px 0px !important;
             font-size: 12px;
         }

         img {
             margin-top: -5px;
             margin-right: 10px;
         }
     }

     .navbar-nav.right-sm-item li a {
         font-size: 15px;
         color: $white-color;
         padding: 5px 15px !important;

         &:hover {
             color: $off-blue;

             i:before {
                 color: $off-blue;
             }
         }

         @include tablet-md() {
             padding: 5px 5px !important;
         }
     }

     .navbar-nav.right-sm-item li a.linkedin {
         padding: 5px 0px 5px 15px !important;
     }

     @include tablet-md() {
         .navbar-toggler {
             display: none;
         }
     }
 }

 //  nav dropdown css

 .nav-main-dropdowns {
     background-color: $primary-color;
     max-height: 0px;
     overflow: hidden;
     transition: 0.4s;
     opacity: 0;

     @include mobile-lg() {
         transition: 0s;
     }

     &.active_dropdown {
         max-height: 1000px;
         overflow: visible;
         transition: 0.4s;
         opacity: 1;
     }

     .container-width {
         max-width: 1330px;
         margin: 0 auto;

         @include tablet-lg() {
             max-width: 992px;
         }
     }

     .nav-main-dropdowns--item-sec {
         display: flex;
         justify-content: space-between;
         gap: 5px;
         padding: 15px 0px;

         @include mobile-lg() {
             flex-direction: column;
         }

         .nav-main-dropdowns--item {
             width: 77%;
             position: relative;

             @include mobile-lg() {
                 width: 100%;
             }
         }
     }

     .main-dropdown-ul {
         display: flex;
         justify-content: space-between;
         padding-bottom: 20px;

         @include tablet-md() {
             flex-wrap: wrap;
             justify-content: center;
         }

         li {
             font-size: 13px;
             line-height: 53px;
             color: $white-color;
             display: flex;

             a {
                 color: $white-color;
                 padding: 7px 10px;
                 border-radius: 6px;

                 @include tablet-lg() {
                     font-size: 11px;
                     padding: 7px 5px;
                 }

                 @include tablet-md() {
                     padding: 7px 20px;
                 }

                 &:hover {
                     background-color: $white-color;
                     color: $black-color;

                     svg path {
                         stroke: $black-color;
                     }
                 }

                 &.active {
                     background-color: $white-color;
                     color: $black-color;

                     svg path {
                         stroke: $black-color;
                     }
                 }

                 svg {
                     margin-top: -2px;
                     margin-left: 10px;
                 }
             }
         }
     }

     .offer-dropdown-ul {
         display: flex;
         justify-content: space-between;
         width: 60%;
         margin: 0 auto;

         @include tablet-lg() {
             width: 80%;
         }

         li {
             font-size: 16px;
             line-height: 53px;
             color: $white-color;
             display: flex;

             a {
                 color: $white-color;
                 padding: 7px 10px;
                 border-radius: 6px;

                 @include tablet-lg() {
                     font-size: 13px;
                 }

                 &:hover {
                     color: $off-blue;
                 }
             }



         }

     }

     .nav-main-dropdowns--help {
         width: 22%;
         padding-left: 60px;
         border-left: 1px solid #0E3B3E;
         position: relative;

         @include tablet-md() {
             padding-left: 20px;
         }

         h4 {
             color: $off-blue;
             font-size: 16px;
             margin-top: 0px;
             margin-bottom: 0px;
         }

         a {
             color: $white-color;
             font-size: 12px;
             color: $white-color;

             &:hover {
                 color: $off-blue;
             }
         }

         p {
             position: absolute;
             top: 0px;
             right: 0px;

             a:hover path {
                 fill: $black-color;
             }
         }
     }
 }

 //  nav sub category dropdown
 .sub-item-dropdown {
     position: absolute;
     width: 100%;
     top: 40%;
     opacity: 1;
     visibility: hidden;
     z-index: -1;
     transition: 0.3s;
     display: none;

     @include tablet-md() {
         top: 30%;
     }

     @include mobile-lg() {
         transition: 0s;
     }

     &.active_sub_tab {
         opacity: 1;
         visibility: visible;
         z-index: 9;
         display: block;

         @include mobile-lg() {
             z-index: 99;
             width: 100%;

             &.electronics-dropdown {
                 top: 77px;
             }

             &.fashiom-dropdown {
                 top: 120px;

                 .dropdown-category-sec {

                     padding: 20px 20px 30px;
                 }
             }

             &.home-appliances-dropdown {
                 top: 155px;
             }
         }
     }

     .close-btn {
         position: absolute;
         right: 10px;
         top: 10px;

         a:hover svg path {
             fill: $black-color
         }

         @include tablet-md() {
             position: absolute;
             right: -28%;
             top: 8px;
         }

         @include mobile-lg() {
             top: -30px;
             right: 15px;
         }

     }

     .dropdown-category-sec {
         display: flex;
         justify-content: space-between;
         max-width: 85%;
         margin-right: 0;
         margin-left: auto;
         background: #0E3B3E;
         padding: 20px 60px;

         @include tablet-lg() {
             max-width: 100%;
             padding: 20px 30px;
         }

         @include tablet-md() {
             max-width: 130%;
             padding: 35px 30px;
             width: 130%;
         }

         @include mobile-lg() {
             flex-wrap: wrap;
             row-gap: 20px;
             width: 100%;
             max-width: 100%;

             .dropdown-category {
                 width: 50%;

                 &.fashiom-image {
                     display: none;
                 }
             }

             padding: 20px 20px;
         }

         p {
             font-weight: 700;
             font-size: 13px;

             color: $light-blue;

         }

         ul {
             margin-top: 15px;

             li a {
                 font-size: 12px;
                 color: $white-color;
                 line-height: 37px;

                 &:hover {
                     text-decoration: underline !important;
                 }
             }
         }




         .dropdown-category.fashiom-image {
             width: 40%;

             img {
                 width: 100%;
             }
         }
     }
 }