<section class="best-deal-sec">
    <div class="container">
        <div class="row ">
            <div class="col-12 best-deal-sec-header">
                <h3 class="sub-sec-title">Best <span>Deals</span></h3>

                <div class="product-category-tabs">

                    <ul class="nav nav-tabs scroll_tabs_theme_light" id="dealstab">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript://" data-url="#kitchen-appliances">
                                Kitchen&nbsp;Appliances</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="consoles-tab" href="javascript://" data-url="#consoles">Consoles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tv-video-tab" href="javascript://"
                                data-url="#tv-video">TV&nbsp;&&nbsp;Videos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="cellphone-tab" href="javascript://"
                                data-url="#cellphone">Cell&nbsp;Phones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="grocery-tab" href="javascript://" data-url="#grocery">Grocery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="grocery-tab1" href="javascript://" data-url="#grocery">Grocery</a>
                        </li>
                    </ul>
                    <!-- <p class="left-arrow-scroll" style="margin-top: 44px;">asdlj</p> -->
                </div>

            </div>

            <div class="deal-category-content" id="kitchen-appliances" role="tabpanel"
                aria-labelledby="kitchen-appliances-tab-link">
                <div class="three-column-block">
                    <div class="offer-coloumn-one width-set">
                        <div class="offer-poster ">
                            <div class="two-column offer-poster-style-1">
                                <a href="javascript://" class="product-details ">

                                    <p>Nintendo Switch Console</p>
                                    <h3 class="blue">Rs.<span>65,000</span> </h3>
                                    <p class="actual-price">Rs.<span>66,000</span></p>
                                    <div class="save-percentage-box">Save<br><span>10%</span></div>

                                </a>
                                <a href="javascript://" class="product-image ">
                                    <h4 class="special-offer-title"><span class="blue">Special</span><br>Offer</h4>
                                    <img src="assets/img/offer-deals/computer.webp" alt="Product" width="164"
                                        height="102" loading="lazy">
                                </a>
                            </div>
                            <div class="two-column offer-poster-style-2">
                                <a href="javascript://" class="product-details ">
                                    <h4 class="special-offer-title"><span class="red">Special</span><br>Offer</h4>
                                    <p>Nintendo Switch </p>
                                    <h3 class="blue">Rs.<span>65,000</span> </h3>
                                    <p class="actual-price">Rs.<span>66,000</span></p>
                                    <p class="already-sold">Already Sold: <span>6</span> <br> Available:
                                        <span>30</span>
                                    </p>
                                </a>
                                <a href="javascript://" class="product-image ">
                                    <div class="save-percentage-box">Save<br><span>10%</span></div>
                                    <img src="assets/img/offer-deals/airpods.webp" alt="Product" width="164"
                                        height="147" loading="lazy">
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="offer-coloumn-two width-set">
                        <div class="offer-poster one-column">
                            <div class="product-details">
                                <a href="javascript://">
                                    <h4 class="special-offer-title"><span class="red">Special</span><br>Offer</h4>
                                    <img src="assets/img/offer-deals/smart-watch.webp" alt="Product" width="363"
                                        height="449" loading="lazy">
                                    <p>Nintendo Switch Console</p>
                                    <div class="offer-product-price">
                                        <h3>Rs <span>65,208</span>
                                        </h3>
                                        <p class="actual-price">Rs.<span>66,000</span>
                                        </p>
                                    </div>
                                    <div class="offer-product-availability">
                                        <p>Already Sold: <span>6</span>
                                        </p>
                                        <p>Available: <span>30 </span>
                                        </p>
                                    </div>
                                    <div class="save-percentage-box circle">Save<br><span>10%</span></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="offer-coloumn-three width-set">
                        <div class="offer-poster ">
                            <div class="two-column offer-poster-style-3">
                                <a href="javascript://" class="product-details ">
                                    <p>Nintendo Switch Console</p>
                                    <h3 class="blue">Rs.<span>65,000</span> </h3>
                                    <p class="actual-price">Rs.<span>66,000</span></p>
                                    <div class="save-percentage-box">Save<br><span>10%</span></div>
                                </a>
                                <a href="javascript://" class="product-image ">
                                    <h4 class="special-offer-title"><span class="green-dark">Special</span>
                                        <br>Offer
                                    </h4>
                                    <img src="assets/img/offer-deals/cloths.webp" alt="Product" width="164" height="132"
                                        loading="lazy">
                                </a>
                            </div>
                            <div class="two-column offer-poster-style-4">
                                <div class="product-image ">
                                    <a href="javascript://">
                                        <h4 class="special-offer-title"><span class="red">Special</span><br>Offer
                                        </h4>
                                        <img src="assets/img/offer-deals/computer-2.webp" alt="Product" width="215"
                                            height="158" loading="lazy">
                                    </a>
                                </div>
                                <div class="product-details ">
                                    <p>Nintendo Switch Console</p>
                                    <div class="offer-product-price">
                                        <h3>Rs <span>65,208</span>
                                        </h3>
                                        <p class="actual-price">Rs.<span>66,000</span></p>
                                    </div>
                                    <div class="offer-product-availability">
                                        <p>Already Sold: <span>6</span></p>
                                        <p>Available: <span>30 </span></p>
                                    </div>
                                    <div class="save-percentage-box">Save<br><span>10%</span></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>