<section class="last-tab-sec">
    <div class="container">
        <div class="row ">
            <div>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#featured-product" role="tab"
                            aria-controls="featured-product" aria-selected="true"><span>Featured</span> Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="onsale-products-tab" data-toggle="tab" href="#onsale-products"
                            role="tab" aria-controls="onsale-products" aria-selected="false"><span>On Sale</span>
                            Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="top-rated-tab" data-toggle="tab" href="#top-rated" role="tab"
                            aria-controls="top-rated" aria-selected="false"><span>Top Rated</span> Products</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="featured-product" role="tabpanel"
                        aria-labelledby="featured-product">
                        <div class="heading-on-mobile">
                            <h4><span>Featured</span> Products</h4>
                        </div>
                        <div class="product-block">
                            <div class="two-column-box">
                                <div class="product-image">
                                    <img src="assets/img/products/product-tv.jpg" alt="Product" loading="lazy"
                                        width="122" height="99">
                                </div>
                                <div class="product-details">
                                    <p><small>Bin Bakar Electronics</small></p>
                                    <p class="product-name">Samsung 40N5300 S11 Pluse</p>
                                    <div class="product-price">
                                        <p class="actual-price">RS <span> 60.000</span></p>
                                        <p>RS <span> 56.000</span></p>
                                    </div>
                                    <a href="javascript://" class="add-cart-card-btn">Add to cart</a>
                                </div>
                            </div>
                            <div class="two-column-box">
                                <div class="product-image">
                                    <img src="assets/img/products/product1.jpg" alt="Product" loading="lazy" width="122"
                                        height="99">
                                </div>
                                <div class="product-details">
                                    <p><small>Bin Bakar Electronics</small></p>
                                    <p class="product-name">Samsung 40N5300 S11 Pluse</p>
                                    <div class="product-price">
                                        <p class="actual-price">RS <span> 60.000</span></p>
                                        <p>RS <span> 56.000</span></p>
                                    </div>
                                    <a href="javascript://" class="add-cart-card-btn">Add to cart</a>
                                </div>
                            </div>
                            <div class="two-column-box">
                                <div class="product-image">
                                    <img src="assets/img/products/washing-machine.jpg" alt="Product" loading="lazy"
                                        width="122" height="99">
                                </div>
                                <div class="product-details">
                                    <p><small>Bin Bakar Electronics</small></p>
                                    <p class="product-name">Samsung 40N5300 S11 Pluse</p>
                                    <div class="product-price">
                                        <p class="actual-price">RS <span> 60.000</span></p>
                                        <p>RS <span> 56.000</span></p>
                                    </div>
                                    <a href="javascript://" class="add-cart-card-btn">Add to cart</a>
                                </div>
                            </div>
                            <div class="two-column-box">
                                <div class="product-image">
                                    <img src="assets/img/products/ac.jpg" alt="Product" loading="lazy" width="122"
                                        height="99">
                                </div>
                                <div class="product-details">
                                    <p><small>Bin Bakar Electronics</small></p>
                                    <p class="product-name">Samsung 40N5300 S11 Pluse</p>
                                    <div class="product-price">
                                        <p class="actual-price">RS <span> 60.000</span></p>
                                        <p>RS <span> 56.000</span></p>
                                    </div>
                                    <a href="javascript://" class="add-cart-card-btn">Add to cart</a>
                                </div>
                            </div>
                            <div class="two-column-box">
                                <div class="product-image">
                                    <img src="assets/img/products/air-conditioner.jpg" alt="Product" loading="lazy"
                                        width="122" height="99">
                                </div>
                                <div class="product-details">
                                    <p><small>Bin Bakar Electronics</small></p>
                                    <p class="product-name">Samsung 40N5300 S11 Pluse</p>
                                    <div class="product-price">
                                        <p class="actual-price">RS <span> 60.000</span></p>
                                        <p>RS <span> 56.000</span></p>
                                    </div>
                                    <a href="javascript://" class="add-cart-card-btn">Add to cart</a>
                                </div>
                            </div>
                            <div class="two-column-box">
                                <div class="product-image">
                                    <img src="assets/img/products/product2.jpg" alt="Product" loading="lazy" width="122"
                                        height="99">
                                </div>
                                <div class="product-details">
                                    <p><small>Bin Bakar Electronics</small></p>
                                    <p class="product-name">Samsung 40N5300 S11 Pluse</p>
                                    <div class="product-price">
                                        <p class="actual-price">RS <span> 60.000</span></p>
                                        <p>RS <span> 56.000</span></p>
                                    </div>
                                    <a href="javascript://" class="add-cart-card-btn">Add to cart</a>
                                </div>
                            </div>
                            <div class="two-column-box">
                                <div class="product-image">
                                    <img src="assets/img/products/drone.png" alt="Product" loading="lazy" width="122"
                                        height="99">
                                </div>
                                <div class="product-details">
                                    <p><small>Bin Bakar Electronics</small></p>
                                    <p class="product-name">Samsung 40N5300 S11 Pluse</p>
                                    <div class="product-price">
                                        <p class="actual-price">RS <span> 60.000</span></p>
                                        <p>RS <span> 56.000</span></p>
                                    </div>
                                    <a href="javascript://" class="add-cart-card-btn">Add to cart</a>
                                </div>
                            </div>
                            <div class="two-column-box">
                                <div class="product-image">
                                    <img src="assets/img/products/headset.png" alt="Product" loading="lazy" width="122"
                                        height="99">
                                </div>
                                <div class="product-details">
                                    <p><small>Bin Bakar Electronics</small></p>
                                    <p class="product-name">Samsung 40N5300 S11 Pluse</p>
                                    <div class="product-price">
                                        <p class="actual-price">RS <span> 60.000</span></p>
                                        <p>RS <span> 56.000</span></p>
                                    </div>
                                    <a href="javascript://" class="add-cart-card-btn">Add to cart</a>
                                </div>
                            </div>
                            <div class="two-column-box">
                                <div class="product-image">
                                    <img src="assets/img/products/sec-cam.png" alt="Product" loading="lazy" width="122"
                                        height="99">
                                </div>
                                <div class="product-details">
                                    <p><small>Bin Bakar Electronics</small></p>
                                    <p class="product-name">Samsung 40N5300 S11 Pluse</p>
                                    <div class="product-price">
                                        <p class="actual-price">RS <span> 60.000</span></p>
                                        <p>RS <span> 56.000</span></p>
                                    </div>
                                    <a href="javascript://" class="add-cart-card-btn">Add to cart</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="onsale-products" role="tabpanel"
                        aria-labelledby="onsale-products-tab">
                        <div class="heading-on-mobile">
                            <h4><span>On Sale</span> Products</h4>
                        </div>
                        <div class="product-block">
                            <div class="two-column-box">
                                <div class="product-image">
                                    <img src="assets/img/products/air-conditioner.jpg" alt="Product" loading="lazy"
                                        width="122" height="99">
                                </div>
                                <div class="product-details">
                                    <p><small>Bin Bakar Electronics</small></p>
                                    <p class="product-name">Samsung 40N5300 S11 Pluse</p>
                                    <div class="product-price">
                                        <p class="actual-price">RS <span> 60.000</span></p>
                                        <p>RS <span> 56.000</span></p>
                                    </div>
                                    <a href="javascript://" class="add-cart-card-btn">Add to cart</a>
                                </div>
                            </div>
                            <div class="two-column-box">
                                <div class="product-image">
                                    <img src="assets/img/products/product2.jpg" alt="Product" loading="lazy" width="122"
                                        height="99">
                                </div>
                                <div class="product-details">
                                    <p><small>Bin Bakar Electronics</small></p>
                                    <p class="product-name">Samsung 40N5300 S11 Pluse</p>
                                    <div class="product-price">
                                        <p class="actual-price">RS <span> 60.000</span></p>
                                        <p>RS <span> 56.000</span></p>
                                    </div>
                                    <a href="javascript://" class="add-cart-card-btn">Add to cart</a>
                                </div>
                            </div>
                            <div class="two-column-box">
                                <div class="product-image">
                                    <img src="assets/img/products/product-tv.jpg" alt="Product" loading="lazy"
                                        width="122" height="99">
                                </div>
                                <div class="product-details">
                                    <p><small>Bin Bakar Electronics</small></p>
                                    <p class="product-name">Samsung 40N5300 S11 Pluse</p>
                                    <div class="product-price">
                                        <p class="actual-price">RS <span> 60.000</span></p>
                                        <p>RS <span> 56.000</span></p>
                                    </div>
                                    <a href="javascript://" class="add-cart-card-btn">Add to cart</a>
                                </div>
                            </div>
                            <div class="two-column-box">
                                <div class="product-image">
                                    <img src="assets/img/products/product1.jpg" alt="Product" loading="lazy" width="122"
                                        height="99">
                                </div>
                                <div class="product-details">
                                    <p><small>Bin Bakar Electronics</small></p>
                                    <p class="product-name">Samsung 40N5300 S11 Pluse</p>
                                    <div class="product-price">
                                        <p class="actual-price">RS <span> 60.000</span></p>
                                        <p>RS <span> 56.000</span></p>
                                    </div>
                                    <a href="javascript://" class="add-cart-card-btn">Add to cart</a>
                                </div>
                            </div>
                            <div class="two-column-box">
                                <div class="product-image">
                                    <img src="assets/img/products/washing-machine.jpg" alt="Product" loading="lazy"
                                        width="122" height="99">
                                </div>
                                <div class="product-details">
                                    <p><small>Bin Bakar Electronics</small></p>
                                    <p class="product-name">Samsung 40N5300 S11 Pluse</p>
                                    <div class="product-price">
                                        <p class="actual-price">RS <span> 60.000</span></p>
                                        <p>RS <span> 56.000</span></p>
                                    </div>
                                    <a href="javascript://" class="add-cart-card-btn">Add to cart</a>
                                </div>
                            </div>
                            <div class="two-column-box">
                                <div class="product-image">
                                    <img src="assets/img/products/headset.png" alt="Product" loading="lazy" width="122"
                                        height="99">
                                </div>
                                <div class="product-details">
                                    <p><small>Bin Bakar Electronics</small></p>
                                    <p class="product-name">Samsung 40N5300 S11 Pluse</p>
                                    <div class="product-price">
                                        <p class="actual-price">RS <span> 60.000</span></p>
                                        <p>RS <span> 56.000</span></p>
                                    </div>
                                    <a href="javascript://" class="add-cart-card-btn">Add to cart</a>
                                </div>
                            </div>
                            <div class="two-column-box">
                                <div class="product-image">
                                    <img src="assets/img/products/sec-cam.png" alt="Product" loading="lazy" width="122"
                                        height="99">
                                </div>
                                <div class="product-details">
                                    <p><small>Bin Bakar Electronics</small></p>
                                    <p class="product-name">Samsung 40N5300 S11 Pluse</p>
                                    <div class="product-price">
                                        <p class="actual-price">RS <span> 60.000</span></p>
                                        <p>RS <span> 56.000</span></p>
                                    </div>
                                    <a href="javascript://" class="add-cart-card-btn">Add to cart</a>
                                </div>
                            </div>
                            <div class="two-column-box">
                                <div class="product-image">
                                    <img src="assets/img/products/ac.jpg" alt="Product" loading="lazy" width="122"
                                        height="99">
                                </div>
                                <div class="product-details">
                                    <p><small>Bin Bakar Electronics</small></p>
                                    <p class="product-name">Samsung 40N5300 S11 Pluse</p>
                                    <div class="product-price">
                                        <p class="actual-price">RS <span> 60.000</span></p>
                                        <p>RS <span> 56.000</span></p>
                                    </div>
                                    <a href="javascript://" class="add-cart-card-btn">Add to cart</a>
                                </div>
                            </div>

                            <div class="two-column-box">
                                <div class="product-image">
                                    <img src="assets/img/products/drone.png" alt="Product" loading="lazy" width="122"
                                        height="99">
                                </div>
                                <div class="product-details">
                                    <p><small>Bin Bakar Electronics</small></p>
                                    <p class="product-name">Samsung 40N5300 S11 Pluse</p>
                                    <div class="product-price">
                                        <p class="actual-price">RS <span> 60.000</span></p>
                                        <p>RS <span> 56.000</span></p>
                                    </div>
                                    <a href="javascript://" class="add-cart-card-btn">Add to cart</a>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="tab-pane fade" id="top-rated" role="tabpanel" aria-labelledby="top-rated-tab">
                        <div class="heading-on-mobile">
                            <h4><span>Top Rated</span> Products</h4>
                        </div>
                        <div class="product-block">
                            <div class="two-column-box">
                                <div class="product-image">
                                    <img src="assets/img/products/ac.jpg" alt="Product" loading="lazy" width="122"
                                        height="99">
                                </div>
                                <div class="product-details">
                                    <p><small>Bin Bakar Electronics</small></p>
                                    <p class="product-name">Samsung 40N5300 S11 Pluse</p>
                                    <div class="product-price">
                                        <p class="actual-price">RS <span> 60.000</span></p>
                                        <p>RS <span> 56.000</span></p>
                                    </div>
                                    <a href="javascript://" class="add-cart-card-btn">Add to cart</a>
                                </div>
                            </div>

                            <div class="two-column-box">
                                <div class="product-image">
                                    <img src="assets/img/products/drone.png" alt="Product" loading="lazy" width="122"
                                        height="99">
                                </div>
                                <div class="product-details">
                                    <p><small>Bin Bakar Electronics</small></p>
                                    <p class="product-name">Samsung 40N5300 S11 Pluse</p>
                                    <div class="product-price">
                                        <p class="actual-price">RS <span> 60.000</span></p>
                                        <p>RS <span> 56.000</span></p>
                                    </div>
                                    <a href="javascript://" class="add-cart-card-btn">Add to cart</a>
                                </div>
                            </div>
                            <div class="two-column-box">
                                <div class="product-image">
                                    <img src="assets/img/products/air-conditioner.jpg" alt="Product" loading="lazy"
                                        width="122" height="99">
                                </div>
                                <div class="product-details">
                                    <p><small>Bin Bakar Electronics</small></p>
                                    <p class="product-name">Samsung 40N5300 S11 Pluse</p>
                                    <div class="product-price">
                                        <p class="actual-price">RS <span> 60.000</span></p>
                                        <p>RS <span> 56.000</span></p>
                                    </div>
                                    <a href="javascript://" class="add-cart-card-btn">Add to cart</a>
                                </div>
                            </div>
                            <div class="two-column-box">
                                <div class="product-image">
                                    <img src="assets/img/products/product2.jpg" alt="Product" loading="lazy" width="122"
                                        height="99">
                                </div>
                                <div class="product-details">
                                    <p><small>Bin Bakar Electronics</small></p>
                                    <p class="product-name">Samsung 40N5300 S11 Pluse</p>
                                    <div class="product-price">
                                        <p class="actual-price">RS <span> 60.000</span></p>
                                        <p>RS <span> 56.000</span></p>
                                    </div>
                                    <a href="javascript://" class="add-cart-card-btn">Add to cart</a>
                                </div>
                            </div>
                            <div class="two-column-box">
                                <div class="product-image">
                                    <img src="assets/img/products/product-tv.jpg" alt="Product" loading="lazy"
                                        width="122" height="99">
                                </div>
                                <div class="product-details">
                                    <p><small>Bin Bakar Electronics</small></p>
                                    <p class="product-name">Samsung 40N5300 S11 Pluse</p>
                                    <div class="product-price">
                                        <p class="actual-price">RS <span> 60.000</span></p>
                                        <p>RS <span> 56.000</span></p>
                                    </div>
                                    <a href="javascript://" class="add-cart-card-btn">Add to cart</a>
                                </div>
                            </div>
                            <div class="two-column-box">
                                <div class="product-image">
                                    <img src="assets/img/products/product1.jpg" alt="Product" loading="lazy" width="122"
                                        height="99">
                                </div>
                                <div class="product-details">
                                    <p><small>Bin Bakar Electronics</small></p>
                                    <p class="product-name">Samsung 40N5300 S11 Pluse</p>
                                    <div class="product-price">
                                        <p class="actual-price">RS <span> 60.000</span></p>
                                        <p>RS <span> 56.000</span></p>
                                    </div>
                                    <a href="javascript://" class="add-cart-card-btn">Add to cart</a>
                                </div>
                            </div>
                            <div class="two-column-box">
                                <div class="product-image">
                                    <img src="assets/img/products/washing-machine.jpg" alt="Product" loading="lazy"
                                        width="122" height="99">
                                </div>
                                <div class="product-details">
                                    <p><small>Bin Bakar Electronics</small></p>
                                    <p class="product-name">Samsung 40N5300 S11 Pluse</p>
                                    <div class="product-price">
                                        <p class="actual-price">RS <span> 60.000</span></p>
                                        <p>RS <span> 56.000</span></p>
                                    </div>
                                    <a href="javascript://" class="add-cart-card-btn">Add to cart</a>
                                </div>
                            </div>
                            <div class="two-column-box">
                                <div class="product-image">
                                    <img src="assets/img/products/headset.png" alt="Product" loading="lazy" width="122"
                                        height="99">
                                </div>
                                <div class="product-details">
                                    <p><small>Bin Bakar Electronics</small></p>
                                    <p class="product-name">Samsung 40N5300 S11 Pluse</p>
                                    <div class="product-price">
                                        <p class="actual-price">RS <span> 60.000</span></p>
                                        <p>RS <span> 56.000</span></p>
                                    </div>
                                    <a href="javascript://" class="add-cart-card-btn">Add to cart</a>
                                </div>
                            </div>
                            <div class="two-column-box">
                                <div class="product-image">
                                    <img src="assets/img/products/sec-cam.png" alt="Product" loading="lazy" width="122"
                                        height="99">
                                </div>
                                <div class="product-details">
                                    <p><small>Bin Bakar Electronics</small></p>
                                    <p class="product-name">Samsung 40N5300 S11 Pluse</p>
                                    <div class="product-price">
                                        <p class="actual-price">RS <span> 60.000</span></p>
                                        <p>RS <span> 56.000</span></p>
                                    </div>
                                    <a href="javascript://" class="add-cart-card-btn">Add to cart</a>
                                </div>
                            </div>
                            <div class="two-column-box">
                                <div class="product-image">
                                    <img src="assets/img/products/ac.jpg" alt="Product" loading="lazy" width="122"
                                        height="99">
                                </div>
                                <div class="product-details">
                                    <p><small>Bin Bakar Electronics</small></p>
                                    <p class="product-name">Samsung 40N5300 S11 Pluse</p>
                                    <div class="product-price">
                                        <p class="actual-price">RS <span> 60.000</span></p>
                                        <p>RS <span> 56.000</span></p>
                                    </div>
                                    <a href="javascript://" class="add-cart-card-btn">Add to cart</a>
                                </div>
                            </div>

                            <div class="two-column-box">
                                <div class="product-image">
                                    <img src="assets/img/products/drone.png" alt="Product" loading="lazy" width="122"
                                        height="99">
                                </div>
                                <div class="product-details">
                                    <p><small>Bin Bakar Electronics</small></p>
                                    <p class="product-name">Samsung 40N5300 S11 Pluse</p>
                                    <div class="product-price">
                                        <p class="actual-price">RS <span> 60.000</span></p>
                                        <p>RS <span> 56.000</span></p>
                                    </div>
                                    <a href="javascript://" class="add-cart-card-btn">Add to cart</a>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>