<section class="new-arrival-bottom-sec">
    <div class="new-arrival-heading">
        <h3 class="sub-sec-title"><span>New</span> Arrivals</h3>
    </div>
    <div class="new-arrival-bottom-bg">
        <div class="container">
            <div class="row">
                <div class="new-arrival-offer-block">
                    <div class="new-arrival-offer-box">
                        <div class="save-percentage-box">Save<br><span>10%</span></div>
                        <img src="/assets/img/arrival-smart-watch.png" alt="Product" loading="lazy" width="200"
                            height="247">
                        <p>Nintendo Switch Console</p>
                        <div class="offer-product-price">
                            <h3>Rs <span>65,208</span></h3>
                            <p class="actual-price">Rs.<span>66,000</span></p>
                        </div>
                        <div class="offer-product-availability">
                            <p>Already Sold: <span>6</span> </p>
                            <p>Available: <span>30 </span> </p>
                        </div>
                    </div>
                    <div class="new-arrival-offer-box ">
                        <div class="save-percentage-box green">Save<br><span>10%</span></div>
                        <img src="/assets/img/arrival-smart-phone.png" alt="Product" loading="lazy" width="200"
                            height="247">
                        <p>Nintendo Switch Console</p>
                        <div class="offer-product-price">
                            <h3>Rs <span>65,208</span></h3>
                            <p class="actual-price">Rs.<span>66,000</span></p>
                        </div>
                        <div class="offer-product-availability">
                            <p>Already Sold: <span>6</span> </p>
                            <p>Available: <span>30 </span> </p>
                        </div>
                    </div>
                    <div class="new-arrival-offer-box">
                        <div class="save-percentage-box light-green">Save<br><span>10%</span></div>
                        <img src="/assets/img/arrival-tv.png" alt="Product" loading="lazy" width="200" height="247">
                        <p>Nintendo Switch Console</p>
                        <div class="offer-product-price">
                            <h3>Rs <span>65,208</span></h3>
                            <p class="actual-price">Rs.<span>66,000</span></p>
                        </div>
                        <div class="offer-product-availability">
                            <p>Already Sold: <span>6</span> </p>
                            <p>Available: <span>30 </span> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>