<section class="our-products-sec">
    <div class="container">
        <div class="row ">
            <div class="col-12 our-products-sec-header">
                <h3 class="sub-sec-title">Our <span>Products</span></h3>

                <div class="product-category-tabs">
                    <div class="owl-carousel owl-theme product-category-tabs-carousel"
                        id="product-category-tabs-carousel">
                        <div class="item ">
                            <p><a href="javascript://" class="active" data-url="#easy-installment">Easy Monthly
                                    Installmentsd</a>
                            </p>
                        </div>
                        <div class="item ">
                            <p><a href="javascript://" data-url="#on-sale">On Sale</a></p>
                        </div>
                        <div class="item ">
                            <p><a href="javascript://" data-url="#top-rated">Top Rated</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="our-products-block">
                <div class="our-products-offer-product">
                    <a href="javascript://">
                        <div class="offer-product-img">
                            <h4 class="special-offer-title">Special <br><span>Offer</span> </h4>
                            <img src="assets/img/special-headset.jpg" alt="Special offer" loading="lazy"
                                class="img-fluid" width="383" height="383">
                            <div class="offer-percentage-circle">
                                <h4>Save<br><span>10%</span></h4>
                            </div>
                        </div>
                        <div class="offer-product-details">
                            <p>Nintendo Switch Console</p>
                            <div class="offer-product-price">
                                <h3>Rs <span>65,208</span></h3>
                                <p class="actual-price">Rs.<span>66,000</span></p>
                            </div>
                            <div class="offer-product-availability">
                                <p>Already Sold: <span>6</span></p>
                                <p>Available: <span>30 </span></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product-category-tabs-content">
                    <div class="easy-installment" id="easy-installment">
                        <div class="our-products-sec-products">
                            <div class="product-card">
                                <p><small>Bin Bakar Electronics</small></p>
                                <p class="product-name">Samsung 40N5300 S11 Pluse</p>
                                <div class="product-image">
                                    <img src="assets/img/products/product-tv.jpg" alt="Product" loading="lazy"
                                        width="160" height="131">
                                    <div class="view-wish-list">
                                        <a href="javascript://">View <svg xmlns="http://www.w3.org/2000/svg" width="15"
                                                height="10" viewBox="0 0 15 10" fill="none">
                                                <path
                                                    d="M7.50001 7.55771C8.91259 7.55771 10.0577 6.41259 10.0577 5.00001C10.0577 3.58744 8.91259 2.44232 7.50001 2.44232C6.08744 2.44232 4.94232 3.58744 4.94232 5.00001C4.94232 6.41259 6.08744 7.55771 7.50001 7.55771Z"
                                                    stroke="black" stroke-width="0.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M0.557678 5C0.557678 5 3.08215 0.25 7.49999 0.25C11.9178 0.25 14.4423 5 14.4423 5C14.4423 5 11.9178 9.75 7.49999 9.75C3.08215 9.75 0.557678 5 0.557678 5Z"
                                                    stroke="black" stroke-width="0.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </svg>
                                        </a>
                                        <a href="javascript://">
                                            Wish List <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12"
                                                viewBox="0 0 14 12" fill="none">
                                                <path
                                                    d="M12.4976 1.06089C12.1799 0.724555 11.8028 0.457752 11.3877 0.275722C10.9726 0.0936915 10.5276 0 10.0783 0C9.629 0 9.18407 0.0936915 8.76897 0.275722C8.35386 0.457752 7.97671 0.724555 7.65907 1.06089L6.99983 1.75857L6.3406 1.06089C5.69898 0.381838 4.82874 0.000351975 3.92135 0.000351982C3.01395 0.000351989 2.14372 0.381838 1.50209 1.06089C0.860462 1.73994 0.5 2.66092 0.5 3.62124C0.5 4.58157 0.860462 5.50255 1.50209 6.1816L2.16132 6.87928L6.99983 12L11.8383 6.87928L12.4976 6.1816C12.8154 5.84543 13.0675 5.44628 13.2395 5.00697C13.4115 4.56765 13.5 4.09678 13.5 3.62124C13.5 3.14571 13.4115 2.67484 13.2395 2.23552C13.0675 1.79621 12.8154 1.39706 12.4976 1.06089Z"
                                                    fill="#C6B7B7" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-price">
                                    <p class="actual-price">RS <span> 60.000</span></p>
                                    <p>RS <span> 56.000</span></p>
                                </div>
                                <a href="javascript://" class="add-cart-card-btn">Add to cart</a>
                            </div>
                            <div class="product-card">
                                <p><small>Bin Bakar Electronics</small></p>
                                <p class="product-name">Haier HSU-12HFMAC</p>
                                <div class="product-image">
                                    <img src="assets/img/products/ac.jpg" alt="Product" loading="lazy" width="160"
                                        height="131">
                                    <div class="view-wish-list">
                                        <a href="javascript://">View <svg xmlns="http://www.w3.org/2000/svg" width="15"
                                                height="10" viewBox="0 0 15 10" fill="none">
                                                <path
                                                    d="M7.50001 7.55771C8.91259 7.55771 10.0577 6.41259 10.0577 5.00001C10.0577 3.58744 8.91259 2.44232 7.50001 2.44232C6.08744 2.44232 4.94232 3.58744 4.94232 5.00001C4.94232 6.41259 6.08744 7.55771 7.50001 7.55771Z"
                                                    stroke="black" stroke-width="0.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M0.557678 5C0.557678 5 3.08215 0.25 7.49999 0.25C11.9178 0.25 14.4423 5 14.4423 5C14.4423 5 11.9178 9.75 7.49999 9.75C3.08215 9.75 0.557678 5 0.557678 5Z"
                                                    stroke="black" stroke-width="0.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </svg>
                                        </a>
                                        <a href="javascript://">
                                            Wish List <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12"
                                                viewBox="0 0 14 12" fill="none">
                                                <path
                                                    d="M12.4976 1.06089C12.1799 0.724555 11.8028 0.457752 11.3877 0.275722C10.9726 0.0936915 10.5276 0 10.0783 0C9.629 0 9.18407 0.0936915 8.76897 0.275722C8.35386 0.457752 7.97671 0.724555 7.65907 1.06089L6.99983 1.75857L6.3406 1.06089C5.69898 0.381838 4.82874 0.000351975 3.92135 0.000351982C3.01395 0.000351989 2.14372 0.381838 1.50209 1.06089C0.860462 1.73994 0.5 2.66092 0.5 3.62124C0.5 4.58157 0.860462 5.50255 1.50209 6.1816L2.16132 6.87928L6.99983 12L11.8383 6.87928L12.4976 6.1816C12.8154 5.84543 13.0675 5.44628 13.2395 5.00697C13.4115 4.56765 13.5 4.09678 13.5 3.62124C13.5 3.14571 13.4115 2.67484 13.2395 2.23552C13.0675 1.79621 12.8154 1.39706 12.4976 1.06089Z"
                                                    fill="#C6B7B7" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-price">
                                    <p class="actual-price">RS <span> 60.000</span></p>
                                    <p>RS <span> 56.000</span></p>
                                </div>
                                <a href="javascript://" class="add-cart-card-btn">Add to cart</a>
                            </div>
                            <div class="product-card">
                                <p><small>Bin Bakar Electronics</small></p>
                                <p class="product-name">Samsung Automatic Washing Machine</p>
                                <div class="product-image">
                                    <img src="assets/img/products/washing-machine.jpg" alt="Product" width="160"
                                        height="131" loading="lazy">
                                    <div class="view-wish-list">
                                        <a href="javascript://">View <svg xmlns="http://www.w3.org/2000/svg" width="15"
                                                height="10" viewBox="0 0 15 10" fill="none">
                                                <path
                                                    d="M7.50001 7.55771C8.91259 7.55771 10.0577 6.41259 10.0577 5.00001C10.0577 3.58744 8.91259 2.44232 7.50001 2.44232C6.08744 2.44232 4.94232 3.58744 4.94232 5.00001C4.94232 6.41259 6.08744 7.55771 7.50001 7.55771Z"
                                                    stroke="black" stroke-width="0.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M0.557678 5C0.557678 5 3.08215 0.25 7.49999 0.25C11.9178 0.25 14.4423 5 14.4423 5C14.4423 5 11.9178 9.75 7.49999 9.75C3.08215 9.75 0.557678 5 0.557678 5Z"
                                                    stroke="black" stroke-width="0.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </svg>
                                        </a>
                                        <a href="javascript://">
                                            Wish List <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12"
                                                viewBox="0 0 14 12" fill="none">
                                                <path
                                                    d="M12.4976 1.06089C12.1799 0.724555 11.8028 0.457752 11.3877 0.275722C10.9726 0.0936915 10.5276 0 10.0783 0C9.629 0 9.18407 0.0936915 8.76897 0.275722C8.35386 0.457752 7.97671 0.724555 7.65907 1.06089L6.99983 1.75857L6.3406 1.06089C5.69898 0.381838 4.82874 0.000351975 3.92135 0.000351982C3.01395 0.000351989 2.14372 0.381838 1.50209 1.06089C0.860462 1.73994 0.5 2.66092 0.5 3.62124C0.5 4.58157 0.860462 5.50255 1.50209 6.1816L2.16132 6.87928L6.99983 12L11.8383 6.87928L12.4976 6.1816C12.8154 5.84543 13.0675 5.44628 13.2395 5.00697C13.4115 4.56765 13.5 4.09678 13.5 3.62124C13.5 3.14571 13.4115 2.67484 13.2395 2.23552C13.0675 1.79621 12.8154 1.39706 12.4976 1.06089Z"
                                                    fill="#C6B7B7" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-price">
                                    <p class="actual-price">RS <span> 60.000</span></p>
                                    <p>RS <span> 56.000</span></p>
                                </div>
                                <a href="javascript://" class="add-cart-card-btn">Add to cart</a>
                            </div>
                            <div class="product-card">
                                <p><small>Bin Bakar Electronics</small></p>
                                <p class="product-name">Dawlance DW-142HZP Microwave Ovan </p>
                                <div class="product-image">
                                    <img src="assets/img/products/microwave-ovan.jpg" alt="Product" loading="lazy"
                                        width="160" height="131">
                                    <div class="view-wish-list">
                                        <a href="javascript://">View <svg xmlns="http://www.w3.org/2000/svg" width="15"
                                                height="10" viewBox="0 0 15 10" fill="none">
                                                <path
                                                    d="M7.50001 7.55771C8.91259 7.55771 10.0577 6.41259 10.0577 5.00001C10.0577 3.58744 8.91259 2.44232 7.50001 2.44232C6.08744 2.44232 4.94232 3.58744 4.94232 5.00001C4.94232 6.41259 6.08744 7.55771 7.50001 7.55771Z"
                                                    stroke="black" stroke-width="0.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M0.557678 5C0.557678 5 3.08215 0.25 7.49999 0.25C11.9178 0.25 14.4423 5 14.4423 5C14.4423 5 11.9178 9.75 7.49999 9.75C3.08215 9.75 0.557678 5 0.557678 5Z"
                                                    stroke="black" stroke-width="0.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </svg>
                                        </a>
                                        <a href="javascript://">
                                            Wish List <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12"
                                                viewBox="0 0 14 12" fill="none">
                                                <path
                                                    d="M12.4976 1.06089C12.1799 0.724555 11.8028 0.457752 11.3877 0.275722C10.9726 0.0936915 10.5276 0 10.0783 0C9.629 0 9.18407 0.0936915 8.76897 0.275722C8.35386 0.457752 7.97671 0.724555 7.65907 1.06089L6.99983 1.75857L6.3406 1.06089C5.69898 0.381838 4.82874 0.000351975 3.92135 0.000351982C3.01395 0.000351989 2.14372 0.381838 1.50209 1.06089C0.860462 1.73994 0.5 2.66092 0.5 3.62124C0.5 4.58157 0.860462 5.50255 1.50209 6.1816L2.16132 6.87928L6.99983 12L11.8383 6.87928L12.4976 6.1816C12.8154 5.84543 13.0675 5.44628 13.2395 5.00697C13.4115 4.56765 13.5 4.09678 13.5 3.62124C13.5 3.14571 13.4115 2.67484 13.2395 2.23552C13.0675 1.79621 12.8154 1.39706 12.4976 1.06089Z"
                                                    fill="#C6B7B7" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-price">
                                    <p class="actual-price">RS <span> 60.000</span></p>
                                    <p>RS <span> 56.000</span></p>
                                </div>
                                <a href="javascript://" class="add-cart-card-btn">Add to cart</a>
                            </div>
                            <div class="product-card">
                                <p><small>Bin Bakar Electronics</small></p>
                                <p class="product-name">Dawlance DW-115 Microwave Ovan</p>
                                <div class="product-image">
                                    <img src="assets/img/products/microwave-ovan-115.jpg" alt="Product" loading="lazy"
                                        width="160" height="131">
                                    <div class="view-wish-list">
                                        <a href="javascript://">View <svg xmlns="http://www.w3.org/2000/svg" width="15"
                                                height="10" viewBox="0 0 15 10" fill="none">
                                                <path
                                                    d="M7.50001 7.55771C8.91259 7.55771 10.0577 6.41259 10.0577 5.00001C10.0577 3.58744 8.91259 2.44232 7.50001 2.44232C6.08744 2.44232 4.94232 3.58744 4.94232 5.00001C4.94232 6.41259 6.08744 7.55771 7.50001 7.55771Z"
                                                    stroke="black" stroke-width="0.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M0.557678 5C0.557678 5 3.08215 0.25 7.49999 0.25C11.9178 0.25 14.4423 5 14.4423 5C14.4423 5 11.9178 9.75 7.49999 9.75C3.08215 9.75 0.557678 5 0.557678 5Z"
                                                    stroke="black" stroke-width="0.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </svg>
                                        </a>
                                        <a href="javascript://">
                                            Wish List <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12"
                                                viewBox="0 0 14 12" fill="none">
                                                <path
                                                    d="M12.4976 1.06089C12.1799 0.724555 11.8028 0.457752 11.3877 0.275722C10.9726 0.0936915 10.5276 0 10.0783 0C9.629 0 9.18407 0.0936915 8.76897 0.275722C8.35386 0.457752 7.97671 0.724555 7.65907 1.06089L6.99983 1.75857L6.3406 1.06089C5.69898 0.381838 4.82874 0.000351975 3.92135 0.000351982C3.01395 0.000351989 2.14372 0.381838 1.50209 1.06089C0.860462 1.73994 0.5 2.66092 0.5 3.62124C0.5 4.58157 0.860462 5.50255 1.50209 6.1816L2.16132 6.87928L6.99983 12L11.8383 6.87928L12.4976 6.1816C12.8154 5.84543 13.0675 5.44628 13.2395 5.00697C13.4115 4.56765 13.5 4.09678 13.5 3.62124C13.5 3.14571 13.4115 2.67484 13.2395 2.23552C13.0675 1.79621 12.8154 1.39706 12.4976 1.06089Z"
                                                    fill="#C6B7B7" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-price">
                                    <p class="actual-price">RS <span> 60.000</span></p>
                                    <p>RS <span> 56.000</span></p>
                                </div>
                                <a href="javascript://" class="add-cart-card-btn">Add to cart</a>
                            </div>
                            <div class="product-card">
                                <p><small>Bin Bakar Electronics</small></p>
                                <p class="product-name">Max Gas Water Heater</p>
                                <div class="product-image">
                                    <img src="assets/img/products/water-heater.jpg" alt="Product" loading="lazy"
                                        width="160" height="131">
                                    <div class="view-wish-list">
                                        <a href="javascript://">View <svg xmlns="http://www.w3.org/2000/svg" width="15"
                                                height="10" viewBox="0 0 15 10" fill="none">
                                                <path
                                                    d="M7.50001 7.55771C8.91259 7.55771 10.0577 6.41259 10.0577 5.00001C10.0577 3.58744 8.91259 2.44232 7.50001 2.44232C6.08744 2.44232 4.94232 3.58744 4.94232 5.00001C4.94232 6.41259 6.08744 7.55771 7.50001 7.55771Z"
                                                    stroke="black" stroke-width="0.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M0.557678 5C0.557678 5 3.08215 0.25 7.49999 0.25C11.9178 0.25 14.4423 5 14.4423 5C14.4423 5 11.9178 9.75 7.49999 9.75C3.08215 9.75 0.557678 5 0.557678 5Z"
                                                    stroke="black" stroke-width="0.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </svg>
                                        </a>
                                        <a href="javascript://">
                                            Wish List <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12"
                                                viewBox="0 0 14 12" fill="none">
                                                <path
                                                    d="M12.4976 1.06089C12.1799 0.724555 11.8028 0.457752 11.3877 0.275722C10.9726 0.0936915 10.5276 0 10.0783 0C9.629 0 9.18407 0.0936915 8.76897 0.275722C8.35386 0.457752 7.97671 0.724555 7.65907 1.06089L6.99983 1.75857L6.3406 1.06089C5.69898 0.381838 4.82874 0.000351975 3.92135 0.000351982C3.01395 0.000351989 2.14372 0.381838 1.50209 1.06089C0.860462 1.73994 0.5 2.66092 0.5 3.62124C0.5 4.58157 0.860462 5.50255 1.50209 6.1816L2.16132 6.87928L6.99983 12L11.8383 6.87928L12.4976 6.1816C12.8154 5.84543 13.0675 5.44628 13.2395 5.00697C13.4115 4.56765 13.5 4.09678 13.5 3.62124C13.5 3.14571 13.4115 2.67484 13.2395 2.23552C13.0675 1.79621 12.8154 1.39706 12.4976 1.06089Z"
                                                    fill="#C6B7B7" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-price">
                                    <p class="actual-price">RS <span> 60.000</span></p>
                                    <p>RS <span> 56.000</span></p>
                                </div>
                                <a href="javascript://" class="add-cart-card-btn">Add to cart</a>
                            </div>
                            <div class="product-card">
                                <p><small>Bin Bakar Electronics</small></p>
                                <p class="product-name">Gree Air Conditioner</p>
                                <div class="product-image">
                                    <img src="assets/img/products/air-conditioner.jpg" alt="Product" loading="lazy"
                                        width="160" height="131">
                                    <div class="view-wish-list">
                                        <a href="javascript://">View <svg xmlns="http://www.w3.org/2000/svg" width="15"
                                                height="10" viewBox="0 0 15 10" fill="none">
                                                <path
                                                    d="M7.50001 7.55771C8.91259 7.55771 10.0577 6.41259 10.0577 5.00001C10.0577 3.58744 8.91259 2.44232 7.50001 2.44232C6.08744 2.44232 4.94232 3.58744 4.94232 5.00001C4.94232 6.41259 6.08744 7.55771 7.50001 7.55771Z"
                                                    stroke="black" stroke-width="0.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M0.557678 5C0.557678 5 3.08215 0.25 7.49999 0.25C11.9178 0.25 14.4423 5 14.4423 5C14.4423 5 11.9178 9.75 7.49999 9.75C3.08215 9.75 0.557678 5 0.557678 5Z"
                                                    stroke="black" stroke-width="0.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </svg>
                                        </a>
                                        <a href="javascript://">
                                            Wish List <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12"
                                                viewBox="0 0 14 12" fill="none">
                                                <path
                                                    d="M12.4976 1.06089C12.1799 0.724555 11.8028 0.457752 11.3877 0.275722C10.9726 0.0936915 10.5276 0 10.0783 0C9.629 0 9.18407 0.0936915 8.76897 0.275722C8.35386 0.457752 7.97671 0.724555 7.65907 1.06089L6.99983 1.75857L6.3406 1.06089C5.69898 0.381838 4.82874 0.000351975 3.92135 0.000351982C3.01395 0.000351989 2.14372 0.381838 1.50209 1.06089C0.860462 1.73994 0.5 2.66092 0.5 3.62124C0.5 4.58157 0.860462 5.50255 1.50209 6.1816L2.16132 6.87928L6.99983 12L11.8383 6.87928L12.4976 6.1816C12.8154 5.84543 13.0675 5.44628 13.2395 5.00697C13.4115 4.56765 13.5 4.09678 13.5 3.62124C13.5 3.14571 13.4115 2.67484 13.2395 2.23552C13.0675 1.79621 12.8154 1.39706 12.4976 1.06089Z"
                                                    fill="#C6B7B7" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-price">
                                    <p class="actual-price">RS <span> 60.000</span></p>
                                    <p>RS <span> 56.000</span></p>
                                </div>
                                <a href="javascript://" class="add-cart-card-btn">Add to cart</a>
                            </div>
                            <div class="product-card">
                                <p><small>Bin Bakar Electronics</small></p>
                                <p class="product-name">Nintendo Switch Console</p>
                                <div class="product-image">
                                    <img src="assets/img/products/switch-console.jpg" alt="Product" loading="lazy"
                                        width="160" height="131">
                                    <div class="view-wish-list">
                                        <a href="javascript://">View <svg xmlns="http://www.w3.org/2000/svg" width="15"
                                                height="10" viewBox="0 0 15 10" fill="none">
                                                <path
                                                    d="M7.50001 7.55771C8.91259 7.55771 10.0577 6.41259 10.0577 5.00001C10.0577 3.58744 8.91259 2.44232 7.50001 2.44232C6.08744 2.44232 4.94232 3.58744 4.94232 5.00001C4.94232 6.41259 6.08744 7.55771 7.50001 7.55771Z"
                                                    stroke="black" stroke-width="0.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M0.557678 5C0.557678 5 3.08215 0.25 7.49999 0.25C11.9178 0.25 14.4423 5 14.4423 5C14.4423 5 11.9178 9.75 7.49999 9.75C3.08215 9.75 0.557678 5 0.557678 5Z"
                                                    stroke="black" stroke-width="0.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </svg>
                                        </a>
                                        <a href="javascript://">
                                            Wish List <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12"
                                                viewBox="0 0 14 12" fill="none">
                                                <path
                                                    d="M12.4976 1.06089C12.1799 0.724555 11.8028 0.457752 11.3877 0.275722C10.9726 0.0936915 10.5276 0 10.0783 0C9.629 0 9.18407 0.0936915 8.76897 0.275722C8.35386 0.457752 7.97671 0.724555 7.65907 1.06089L6.99983 1.75857L6.3406 1.06089C5.69898 0.381838 4.82874 0.000351975 3.92135 0.000351982C3.01395 0.000351989 2.14372 0.381838 1.50209 1.06089C0.860462 1.73994 0.5 2.66092 0.5 3.62124C0.5 4.58157 0.860462 5.50255 1.50209 6.1816L2.16132 6.87928L6.99983 12L11.8383 6.87928L12.4976 6.1816C12.8154 5.84543 13.0675 5.44628 13.2395 5.00697C13.4115 4.56765 13.5 4.09678 13.5 3.62124C13.5 3.14571 13.4115 2.67484 13.2395 2.23552C13.0675 1.79621 12.8154 1.39706 12.4976 1.06089Z"
                                                    fill="#C6B7B7" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-price">
                                    <p class="actual-price">RS <span> 60.000</span></p>
                                    <p>RS <span> 56.000</span></p>
                                </div>
                                <a href="javascript://" class="add-cart-card-btn">Add to cart</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>