<section class="win-mart-sec">
    <div class="container">
        <div class="row">
            <div class="win-mart-box">
                <div class="save-band">
                    <p>SAVE 10%</p>
                </div>
                <div class="win-mart-item-block">
                    <div class="win-mart-item">
                        <a href="javascript://">
                            <img src="/assets/img/win-mart/win-mart-8.png" alt="Win mart" loading="lazy">
                            <div class="win-mart-item-details">
                                <p>Add to cart</p>
                                <p>Rs.<span>250</span></p>
                            </div>
                        </a>
                    </div>
                    <div class="win-mart-item">
                        <a href="javascript://">
                            <img src="/assets/img/win-mart/win-mart-6.png" alt="Win mart" loading="lazy">
                            <div class="win-mart-item-details">
                                <p>Add to cart</p>
                                <p>Rs.<span>250</span></p>
                            </div>
                        </a>
                    </div>
                    <div class="win-mart-item">
                        <a href="javascript://">
                            <img src="/assets/img/win-mart/win-mart-3.png" alt="Win mart" loading="lazy">
                            <div class="win-mart-item-details">
                                <p>Add to cart</p>
                                <p>Rs.<span>250</span></p>
                            </div>
                        </a>
                    </div>
                    <div class="win-mart-item">
                        <a href="javascript://">
                            <img src="/assets/img/win-mart/win-mart-4.png" alt="Win mart" loading="lazy">
                            <div class="win-mart-item-details">
                                <p>Add to cart</p>
                                <p>Rs.<span>250</span></p>
                            </div>
                        </a>
                    </div>
                    <div class="win-mart-item">
                        <a href="javascript://">
                            <img src="/assets/img/win-mart/win-mart-7.png" alt="Win mart" loading="lazy">
                            <div class="win-mart-item-details">
                                <p>Add to cart</p>
                                <p>Rs.<span>250</span></p>
                            </div>
                        </a>
                    </div>
                    <div class="win-mart-item">
                        <a href="javascript://">
                            <img src="/assets/img/win-mart/win-mart-5.png" alt="Win mart" loading="lazy">
                            <div class="win-mart-item-details">
                                <p>Add to cart</p>
                                <p>Rs.<span>250</span></p>
                            </div>
                        </a>
                    </div>
                    <div class="win-mart-item">
                        <a href="javascript://">
                            <img src="/assets/img/win-mart/win-mart-1.png" alt="Win mart" loading="lazy">
                            <div class="win-mart-item-details">
                                <p>Add to cart</p>
                                <p>Rs.<span>250</span></p>
                            </div>
                        </a>
                    </div>
                    <div class="win-mart-item">
                        <a href="javascript://">
                            <img src="/assets/img/win-mart/win-mart-2.png" alt="Win mart" loading="lazy">
                            <div class="win-mart-item-details">
                                <p>Add to cart</p>
                                <p>Rs.<span>250</span></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="win-mart-right-img">
                    <img src="/assets/img/win-mart.jpg" alt="Win mart" loading="lazy">
                    <img src="/assets/img/win-mart/rectangle.png" alt="Win mart" loading="lazy" class="triangle-bg">
                    <p><span>10</span>&nbsp;% <br>OFF</p>
                </div>
            </div>
        </div>
    </div>
</section>